# My First Python Code

This will print Hello world

In [1]:
print("Hello World")

Hello World

Testing variable define in one cell and use it another.

In [3]:
myVar = "Hello World"
print(myVar)

Hello World

In [4]:
num = 1 + 3 * 5 / 2
print(num)

8.5

In [5]:
num = (1 + 3) * (5 / 2)
print(num)

10.0

In [6]:
type(num)

float

In [7]:
type(myVar)

str

In [9]:
id(num)

287732392992

In [10]:
mangoes = 10

In [12]:
mangoes + 10
mangoes_sum = mangoes + 20

In [11]:
print(mangoes)

10

In [13]:
print(mangoes_sum)

30

In [16]:
b = 10
a = 10.5
b = a
type(a)

float

In [19]:
s = "str"
a = 10
type(a)

int

In [21]:
print ("Hello " + s + " " + str(a))

Hello str 10

In [28]:
a = ""
ascii("a")

"'a'"

In [34]:
arr = [10, 12, 13]

In [37]:
for i in arr:
    print (i)

10
12
13

In [38]:
if 10 in arr:
    print("10 number is in list")
else:
    print("10 number is not in list")

10 number is in list

In [39]:
tup = (10, 20, 30)
print(tup)

(10, 20, 30)

In [41]:
tup[0]

10

In [42]:
tup[:-1]

(10, 20)

In [43]:
tup[2:]

(30,)

In [45]:
tup = (80, 90, 100)
print(tup)

(80, 90, 100)

In [46]:
name = input("Please enter your name: ")
print(name)

Please enter your name: Muneer
Muneer

In [54]:
def userInput():
    name = input("Please enter your name: ")
    if(name.lower() == "muneer"):
        return True
    return False

In [56]:
while userInput() == False:
    print("Wrong name.")
print("You got the name right. Congratulations!!!")

Please enter your name: Moiz
Wrong name.
Please enter your name: Fahad
Wrong name.
Please enter your name: muneer
You got the name right. Congratulations!!!

In [48]:
class Car():
    def __init__(self, type, color="black"):
        self.type = type
        self.color = color
    
    def info(self):
        print("My car is "+ self.type + " \nand its color is "+ self.color)
    
    def move(self):
        print(self.type+" accelerate press")
    
    def stop(self):
        print(self.type+" break press")
        
myCar = Car("Honda", "red")
myCar.info()
myCar.move()
myCar.stop()

My car is Honda
and its color is red
Honda accelerate press
Honda break press