
# Chap 15 List

In [1]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"
print("Welcome to " + city_3)

Welcome to Denver

In [2]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
print('welcome to' , cities[0])
print(cities[1])

welcome to Atlanta
Baltimore

In [6]:
mixed_things = [1, "Bob","Bob", "Now is"]
print(1 in mixed_things)
mixed_things.index('Bob')

True

1

In [7]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0] + "."
print(message)

My first bicycle was a trek.

In [8]:
numbers = list(range(1,10))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
even_numbers = list(range(20,2,-2))
print(even_numbers)

[20, 18, 16, 14, 12, 10, 8, 6, 4]

# Chap 16 Lists: Adding and changing elements

In [14]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
cities.append("New York")
print(cities)
cities.append('uk')
print(len(cities))

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']
8

In [16]:
cities.insert(10,'London')
cities.index('London')
cities[6] = 'Karachi'
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi',
 'uk',
 'London',
 'London']

In [18]:
friends = ['ali','kamran','farhan','ahmed']
friends2 = ['ali','kamran','farhan','ahmed']
closed_friends = ['ali','ahmed']
for x in friends2:
    if x in closed_friends:
        continue
    else:
        friends.remove(x)        
friends

['ali', 'ahmed']

In [20]:
cities = cities + ["Dubuque", "New Orleans"]
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi',
 'uk',
 'London',
 'London',
 'Dubuque',
 'New Orleans',
 'Dubuque',
 'New Orleans']

In [21]:
x = 'Pakistan zindabad'
y = x[2:10]
print(y)

kistan z

In [24]:
cities.insert(0, "Old York")
print(len(cities))
cities.insert(15 , 'pakistan')
cities.index('pakistan')

19

15

In [26]:
user = ['user1']
user.insert(1 , 'user2')
user.index('user2')
print(user[1])

user2

In [30]:
todays_tasks = ['sheep']
todays_tasks = todays_tasks + ["Walk dog", "Buygroceries"]
print(todays_tasks)

['sheep', 'Walk dog', 'Buygroceries']

# Chap 17 Lists: Taking slices out of them

In [31]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
new_cities = cities[1:3]
new_cities

['Baltimore', 'Chicago']

In [33]:
print(cities)
smaller_list_of_cities = cities[2:5]
smaller_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

['Chicago', 'Denver', 'Los Angeles']

In [34]:
x = [1,2,3,4]
y = x
y.append(9)
print(y)
print(x)

[1, 2, 3, 4, 9]
[1, 2, 3, 4, 9]

In [36]:
x = [1,2,3,4]
y = x[:]
print(y)
y.append(9)
print(y)
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 9]
[1, 2, 3, 4]

In [39]:
new_list = list(range(1,20))
print(new_list)
smaller_list = new_list[-10:6:-1]
smaller_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[10, 9, 8]

In [40]:
print(cities)
smaller_list_of_cities = cities[2:]
smaller_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

['Chicago', 'Denver', 'Los Angeles', 'Seattle']

# Chap 18 Lists: Deleting and removing elements

In [41]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
del tasks[0]
tasks

['call Sarah', 'meet with Zach']

In [44]:
removed_element =tasks.remove("call Sarah")
print(tasks)

['meet with Zach']